<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<body>
    <h1>This is Contact page</h1>
    <p>number is <%= num %></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi et fugit nemo eum officiis officia deleniti doloremque! Dolore, a in? Odio voluptas quod dignissimos, omnis repudiandae animi laudantium ut minima nemo iusto, impedit optio quam.</p>
    <br>
    <p><%= num %> is <%= num %></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique corporis, neque quas quisquam nemo nulla. Eum iste sunt maxime recusandae vel expedita quisquam odio mollitia minus, hic quibusdam accusamus quae laborum nostrum cumque dolores labore praesentium. Fugiat culpa quo error quos, omnis ad, molestiae odit enim vero nisi aliquid aliquam!</p>
    <p><%= num %></p>
    <h1>Contact page ended</h1>
</body>
</html>