<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <h1>This is profile</h1>
    <p>age is : <%= age %></p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur odit nihil quibusdam doloribus similique quaerat, eos voluptate tempora? Unde nemo accusantium dolores laudantium voluptatum itaque repellat perspiciatis. Eos, reprehenderit excepturi.</p>
    <p>this is: <%= age %></p>
    <h1>Profile page ended</h1>
    <p><%= age %> ended <%= age %></p>
</body>
</html>